<% @kids.each do |kid| %>
      <p>
          <strong>Kid name</strong>: <%= kid.kidname %> <br>
        <%= link_to "See Chores", kid_path(kid) %>
         | <%= link_to "Delete",  @kid, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this kid?" } %>
      </p>
<% end %>
<hr>

<h2>Add a Kid</h2>

<br>
<br>

<%= render 'form' %>